<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @food.rating %>
</p>

<p>
  <strong>David rating:</strong>
  <%= @food.david_rating %>
</p>

<p>
  <strong>Longevity:</strong>
  <%= @food.longevity %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @food.notes %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @food.recipe_id %>
</p>

<p>
  <strong>Meal plan:</strong>
  <%= @food.meal_plan_id %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
