<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Rating</th>
      <th>David rating</th>
      <th>Longevity</th>
      <th>Recipe</th>
      <th>Notes</th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Lipids</th>
      <th>Carbs</th>
      <th>Meal plan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.image %></td>
        <td><%= item.rating %></td>
        <td><%= item.david_rating %></td>
        <td><%= item.longevity %></td>
        <td><%= item.recipe %></td>
        <td><%= item.notes %></td>
        <td><%= item.calories %></td>
        <td><%= item.protein %></td>
        <td><%= item.lipids %></td>
        <td><%= item.carbs %></td>
        <td><%= item.meal_plan %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
