<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item.image %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @item.rating %>
</p>

<p>
  <strong>David rating:</strong>
  <%= @item.david_rating %>
</p>

<p>
  <strong>Longevity:</strong>
  <%= @item.longevity %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @item.recipe %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @item.calories %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @item.protein %>
</p>

<p>
  <strong>Lipids:</strong>
  <%= @item.lipids %>
</p>

<p>
  <strong>Carbs:</strong>
  <%= @item.carbs %>
</p>

<p>
  <strong>Meal plan:</strong>
  <%= @item.meal_plan %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
